.search-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px auto;
  padding: 40px;
}
.search-container-menu {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  font-size: 18px;
  height: 24px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  background-color: #e0d9d9;
  width: 100%;
  position: relative;
}
.search-bar {
  display: flex;
  width: 90%;
  margin: 18px;
}

.search-icon {
  background-color: #888;
  position: absolute;
  gap: 40px;
}
.search-btn {
  display: flex;
}
.btn-container {
  display: flex;
}
.language-container a {
  text-decoration: none;
}
.language-menu {
  padding: 17px 10px;
  display: flex;
  gap: 14px;
}
